<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <MSDeployServiceURL>🤡nt40.unoeuro.com</MSDeployServiceURL>
    <DeployIisAppPath>🤡happybits.se</DeployIisAppPath>
    <UserName>🤡happybits.se</UserName>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SelfContained>true</SelfContained>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <TargetFramework>net9.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
  </PropertyGroup>
</Project>